@model LCCapstone.ViewModels.AddUserViewModel

<h1>Create An Account</h1>

<form asp-controller="User" asp-action="Add" method="post">

    <div class="form-group">
        <label asp-for="Username"></label>
        <input class="form-control" asp-for="Username" />
        <span asp-validation-for="Username"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input class="form-control" asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>

    <div class="form-group">
        <label asp-for="VerifyPass"></label>
        <input class="form-control" asp-for="VerifyPass" type="password" />
        <span asp-validation-for="VerifyPass"></span>
    </div>

    <div class="form-group">
        <label asp-for="SkillLevel"></label>
        <select asp-for="SkillLevel">
            <option>Newbie</option>
            <option>Hobbyist</option>
            <option>Experienced</option>
            <option>Professional</option>
        </select>
        <span asp-validation-for="SkillLevel"></span>
    </div>

    <input type="submit" value="Create Account" />

</form>

