@model LCCapstone.ViewModels.LoginViewModel

<h1>Login</h1>

<form asp-controller="User" asp-action="Login" method="post">

    <span class="alert-danger">@Model.Error</span>

    <div class="form-group">
        <label asp-for="Username"></label>
        <input class="form-control" asp-for="Username" />
        <span class="alert-danger" asp-validation-for="Username"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input class="form-control" asp-for="Password" type="password" />
        <span class="alert-danger" asp-validation-for="Password"></span>
    </div>

    <input type="submit" value="Login" />

</form>
