@model LCCapstone.ViewModels.ViewUserViewModel

<h1>@Model.User.Username's Profile</h1>

<table class="table">
    <tr>
        <td>@Model.User.Username</td>
    </tr>
    <tr>
        <td>@Model.User.SkillLevel</td>
    </tr>
</table>